.news__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 130px 1fr;
  margin: 0 auto;
  max-width: 1380px;
}

@media screen and (max-width:1439px) {
  .news__container {
    max-width: 1040px;
    grid-template-rows: 80px 1fr;
  }
}

@media screen and (max-width:900px) {
  .news__container {
    max-width: 690px;
    grid-template-columns: repeat(3,230px);
    grid-template-rows: repeat(3,minmax(50px,auto));
  }
}

@media screen and (max-width:767px) {
  .news__container {
    grid-template-columns: 300px 0;
    max-width: 300px;
  }
}
