.spec-projects__numbers {
  max-width: 670px;
  min-height: 226px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  color:rgba(51, 51, 51, 1);
  margin: auto;
  grid-area: numbers;
}