.stories__text-about {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0 0 0 78px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width:1200px) {
  .stories__text-about {
    font-size: 18px;
    padding: 0 0 0 60px;
  }
}

@media screen and (max-width:900px) {
  .stories__text-about {
    font-size: 16px;
    line-height: 1.2;
    padding: 0 0 0 3px;
  }
}

@media screen and (max-width:450px) {
  .stories__text-about {
    font-size: 14px;
    margin: 0 0 19px;
    padding: 0;
  }
}