.button_text-clr_black {
    color: #333;
}

.button_text-clr_black:hover {
    border: 2px solid #333;
}

.button_text-clr_black:active {
    color: white;
    background-color: #333;
}

.button_text-clr_black:disabled {
    border: 2px solid #C4C4C4;
    color: rgba(38, 38, 38, .5);
    cursor: auto;
    background-color: #F5F5F5;
}