.digits__photo {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: -ms-grid;
  display: grid;
  grid-area: digits__photo;
}

@media screen and (max-width:1200px) {
  .digits__photo {
    display: none;
  }
}

@media screen and (max-width:767px) {
  .digits__photo {
    max-width: 300px;
    display: -ms-grid;
    display: grid;
  }
}

@media screen and (min-width:1201px) and (max-width:1439px) {
  .digits__photo {
    max-height: 226px;
  }
}