.features__accordion-item {
  box-sizing: border-box;
  padding: 27px 20px;
  border: 2px solid #DADADA;
  border-radius: 30px;
  align-self: start;
}

@media screen and (max-width:1200px) {
  .features__accordion-item {
    border-radius: 20px;
    padding: 19px 20px;
    min-width: 688px;
  }

  .features__accordion-item:nth-child(6) {
    padding: 25px 20px 19px 20px;
  }
}

@media screen and (max-width:767px) {
  .features__accordion-item {
    min-width: 0;
  }
}

@media screen and (max-width:600px) {
  .features__accordion-item {
    border: 1px solid #DADADA;
    border-radius: 15px;
  }
}

@media screen and (max-width:450px) {
  .features__accordion-item {
    padding: 17px 16px;
    min-width: 300px;
  }
  .features__accordion-item:nth-child(2) {
    padding: 13px 16px;
  }
  .features__accordion-item:nth-child(3) {
    padding: 9px 16px 12px 16px;
  }
  .features__accordion-item:nth-child(4) {
    padding: 10px 16px;
  }
  .features__accordion-item:nth-child(5) {
    padding: 12px 16px;
  }
  .features__accordion-item:last-child{
    padding: 15px 16px;
  }
}