.directions__container {
    max-width: 1360px;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 1439px){
    .directions__container {
        max-width: 688px;
    }
  }
  
  @media screen and (max-width: 767px){
    .directions__container {
        max-width: 300px;
    }
  }