.digits {
  padding: 43px 40px 0;
  color: rgba(51, 51, 51, 1);
  margin: auto;
}

@media screen and (max-width:1200px) {
  .digits {
    max-width: 688px;
  }
}

@media screen and (max-width:767px) {
  .digits {
    padding: 0 10px;
    max-width: 300px;
  }
}

@media screen and (min-width:1201px) and (max-width:1439px) {
  .digits {
    max-width: 1040px;
  }
}