.page {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  font: 400 18px/1.3 "Raleway","Arial",sans-serif;
  -webkit-font-feature-settings: 'pnum' on,'lnum' on;
  font-feature-settings: 'pnum' on,'lnum' on;
  color: #333;
}