.menu__secondary-item {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1439px) {
    .menu__secondary-item {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .menu__secondary-item {
        margin-bottom: 4px;
    }
}