.card__container{
    max-width: 377px;
}

@media screen and (max-width:1439px){
    .card__container {
        width: 386px;
    }
}

@media screen and (max-width:800px){
    .card__container {
        width: 251px;
    }
}