/* это заголовок h3 */

.features__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}
