.support__text {
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0;
    text-align: center;
    max-width: 488px;
    width: 100%;
    margin: 0;
    padding: 38px 0 74px;
}
