.everland__content {
  padding: 55px 40px 0 40px;
  margin: 0;
  width: 100%;
}

@media screen and (max-width:900px) {
  .everland__content {
    padding: 70px 40px 12px;
  }
}

@media screen and (max-width:450px) {
  .everland__content {
    padding: 55px 10px 30px 10px;
  }
}

.everland__content:nth-child(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

@media screen and (max-width:767px) {
  .everland__content:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 26px;
  }
}