.footer__phone-numbers {
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  box-sizing: border-box;
}

@media screen and (max-width:1200px) {
  .footer__phone-numbers {
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (max-width:700px) {
  .footer__phone-numbers {
    flex-direction: row;
  }
}