.form__input-container_location_agreement {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media screen and (max-width: 768px){
    .form__input-container_location_agreement {
        gap: 14px;
    }
}