.form__input-container_location_donor-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  padding: 28px 0 39px;
}

@media screen and (max-width:768px) {
  .form__input-container_location_donor-info {
    padding: 26px 0 24px;
    gap: 16px;
  }
}

@media screen and (max-width:320px) {
  .form__input-container_location_donor-info {
    padding: 25px 0 26px;
    gap: 18px;
  }
}