.form__input-container_location_donation-frequency {
  padding-bottom: 11px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin: 0;
}

@media screen and (max-width:768px) {
  .form__input-container_location_donation-frequency {
    gap: 16px;
    padding: 0 0 32px;
  }
}

@media screen and (max-width:320px) {
  .form__input-container_location_donation-frequency {
    padding: 0 0 30px;
  }
}