.form__input-container_location_donation-amount {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 16px 0 24px;
}

@media screen and (max-width: 768px){
    .form__input-container_location_donation-amount {
        padding: 24px 0 13px 5px;
    }
}

@media screen and (max-width: 320px){
    .form__input-container_location_donation-amount {
        padding: 22px 0 32px 0px;
    }
}