.digits__number-title{
  margin: 0;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  display:inline-block;
  padding-bottom: 5px;
}

@media screen and (max-width: 1200px) {
  .digits__number-title{

  }
}

@media screen and (max-width: 1439px) {
  .digits__number-title{
    font-size: 26px;
  }
}

@media screen and (max-width: 700px) {
  .digits__number-title {

  }
}

@media screen and (max-width: 767px) {
  .digits__number-title{
    font-size: 18px;
  }
}