.footer__support-logos {
  grid-row: 4/5;
  grid-column: 1/2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  box-sizing: border-box;
  list-style-type: none;
}

@media screen and (max-width: 1200px) {
  .footer__support-logos {
    gap: 50px;
  }
}

@media screen and (max-width: 900px) {
  .footer__support-logos {
    gap: 8px;
    margin-top: -33px;
  }
}