.stories__picture {
  width: 224px;
  height: 224px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}