.form__radio-button_position_donations-last {
    width: 211px;
}

@media screen and (max-width: 768px){
    .form__radio-button_position_donations-last {
        width: 135px;
    }
}

@media screen and (max-width: 320px) {
    .form__radio-button_position_donations-last {
        width: 260px;
    }
}








