.form__radio-button_position_donations-last {
    width: 211px;
}

@media screen and (max-width: 768px){
    .form__radio-button_position_donations-last {
        width: 135px;
    }
}

@media screen and (min-width: 601px) and (max-width: 767px){
    .form__radio-button_position_donations-last {
        width: 306px;
    }
}

@media screen and (max-width: 600px) {
    .form__radio-button_position_donations-last {
        width: 260px;
    }
}








