.form__button-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

@media screen and (max-width:768px) {
  .form__button-container {
    gap: 16px;
    padding-bottom: 12px;
  }
}

@media screen and (max-width:320px) {
  .form__button-container {
    gap: 16px;
    padding-bottom: 10px;
  }
}