.form__main-container {
    height: 953px;
    width: 691px;
    border-radius: 30px;
    box-shadow: 0 4px 30px 0 #2A30381A;
    background-color: #fff;
    padding: 30px 20px 30px 16px;
    box-sizing: border-box;
}