.form__main-container {
    height: 953px;
    width: 691px;
    left: 40px;
    top: 8651px;
    border-radius: 30px;
    box-shadow: 0px 4px 30px 0px #2A30381A;
    background-color: #fff;
    padding: 30px 23px 30px;
}