.main-menu {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.main-menu::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 630px;
    width: 25px;
    height: 24px;
    background-image: url(../../images/menu-ico.svg);
}