.spec-projects__button {
  justify-self: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

@media screen and (max-width:700px) {
  .spec-projects__button {
    display: block;
    margin: 0 auto;
  }
}