.spec-projects__subtitle {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

@media screen and (max-width:900px) {
  .spec-projects__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width:700px) {
  .spec-projects__subtitle {
    font-size: 14px;
    margin: 0 0 20px;
  }
}

@media screen and (max-width:450px) {
  .spec-projects__subtitle {
    font-size: 14px;
  }
}