.everland__image_absolute {
    width: 352px;
    height: 315px;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 1439px) {
    .everland__image_absolute {
        width: 184px;
        height: 152px;
        top: 17px;
    }

}