.footer__ya-workshop-caption {
  box-sizing: border-box;
  flex: 1 1 auto;
  overflow: hidden;
  padding: 0 0 2px;
  margin: 0;
}

@media screen and (max-width:900px) {
  .footer__ya-workshop-caption {
    padding: 0;
  }
}