.footer__ya-workshop-caption {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
  padding: 0 0 2px;
  margin: 0;
}

@media screen and (max-width:900px) {
  .footer__ya-workshop-caption {
    padding: 0;
  }
}