.features {
  padding: 43px 40px 100px;
}

@media screen and (max-width:900px) {
  .features {
    padding-top: 45px;
  }
}

@media screen and (max-width:767px) {
  .features {
    padding: 32px 10px;
  }
}