.features__accordion-button_type_cross {
  cursor: pointer;
  width: 45px;
  height: 45px;
  background: #0C4BA0 url(../../../../images/Icon/accordion-icon-cross.svg) no-repeat 50% 50%;
  border: none;
  border-radius: 20px;
}

.features__accordion-button_type_cross:hover {
  background: #0C4BA0 url(../../../../images/Icon/accordion-icon-cross.svg) no-repeat 50% 50%;
}

@media screen and (max-width:1200px) {
  .features__accordion-button_type_cross {
    width: 32px;
    height: 32px;
    background: #0C4BA0 url(../../../../images/Icon/accordion-icon-cross-adaptive.svg) no-repeat 50% 50%;
  }
  .features__accordion-button_type_cross:hover {
    background: #0C4BA0 url(../../../../images/Icon/accordion-icon-cross-adaptive.svg) no-repeat 50% 50%;
  }

}
