.form__radio-button_location_payment-method {
    width: 189px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

@media screen and (max-width: 320px){
    .form__radio-button_location_payment-method {
        width: 260px;
        gap: 4px;
    }
}