.footer__soc-net-link {
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

@media screen and (min-width: 450px) {
  .footer__soc-net-link:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 1200px) {
  .footer__soc-net-link {
    width: 36px;
    height: 36px;
  }
}

@media screen and (max-width: 900px) {
  .footer__soc-net-link {
    width: 24px;
    height: 24px;
  }
}