.link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    width: 165px;
    height: 48px;
    background-color: #fff;
    background-image: url(../../images/Icon/link-arrow-black-ico.svg);
    background-repeat: no-repeat;
    background-position: 140px 17px;
    border-radius: 10px;
    padding: 12px 10px;
    box-sizing: border-box;
    transition: color .1s linear, background-image .1s linear, background-color .1s linear;
}

.link:hover {
    color: #00275C;
    background-image: url(../../images/Icon/link-arrow-blue-ico.svg);
}

.link:active {
    color: #0C4BA0;
    background-image: url(../../images/Icon/link-arrow-lightblue-ico.svg);
}

.link:disabled {
    cursor: auto;
    color: #C4C4C4;
    background-image: url(../../images/Icon/link-arrow-lightgrey-ico.svg);
}