.spec-projects__content--article_our-special-projects {
  background: #E7F0FF;
  border-radius: 30px;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .spec-projects__content--article_our-special-projects {
    display: block;
  }
}