.footer__links-social-net {
  grid-row: 4/5;
  grid-column: 2/3;
  margin: 0;
  padding: 15px 11px;
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  box-sizing: border-box;
  transition: all .3s ease 0s;
}

@media screen and (max-width:1200px) {
  .footer__links-social-net {
    gap: 30px;
    padding: 14px 10px;
  }
}

@media screen and (max-width:900px) {
  .footer__links-social-net {
    gap: 20px;
    padding: 9px 8px 9px 11px;
  }
}

@media screen and (max-width:450px) {
  .footer__links-social-net {
    padding: 9px 8px 9px 7px;
  }
}