.features__button {
  cursor: pointer;
  width: 45px;
  height: 45px;

  background: #E7F0FF;
  border: none;
  border-radius: 20px;
  background-image: url(../../../images/Icon/accordeon-icon-plus.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.features__button:hover {
  background: #0C4BA0;
  background-image: url(../../../images/Icon/accordeon-icon-plus-hover.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


