.header__buttons {
  width: 376px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width:1439px) {
  .header__buttons {
    width: 276px;
  }
}

@media screen and (max-width:940px) {
  .header__buttons {
    grid-area: buttons;
  }
}

@media screen and (max-width:767px) {
  .header__buttons {
    display: none;
  }
}