.header__buttons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 376px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1439px) {
    .header__buttons {
        width: 276px;
        justify-self: end;
    }
}

@media screen and (max-width: 940px) {
    .header__buttons {
        grid-area: buttons;
    }
}