.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 345px 351px 339px 366px;
}

@media screen and (max-width: 1439px) {
  .menu__list {
    flex-wrap: wrap;
    row-gap: 47px;
  }
}

@media screen and (max-width: 767px) {
  .menu__list {
    margin: 0;
    display: block;
  }
}