.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 47px;
}

.menu__list:nth-of-type(2) {
  max-width: 320px;
  margin-right: 31px;
}

.menu__list:nth-of-type(3) {
  max-width: 243px;
  margin-right: 96px;
}

.menu__list:nth-of-type(4) {
  max-width: 268px;
  margin: 0;
}



@media screen and (max-width: 767px) {
  .menu__list {
    margin: 0;
    display: block;
  }
}