.form__question-icon {
  display: inline-block;
  margin: 0 0 0 7px;
  padding: 0;
  background: url('../../../images/question.svg') no-repeat;
  width: 10px;
  height: 12px;
}

.form__question-icon:hover {
  background-image: url('../../../images/question-hover.svg');
}

@media screen and (max-width:600px) {
  .form__question-icon {
    margin: 0;
    width: 10px;
    height: 10px;
  }
}