.card__image_size_s {
  /* max-width: 380px; */
  width: 100%;
  height: auto;
  margin: 29px 0 0 0;
  /* object-fit: cover; */
  border-radius: 30px;
}

@media screen and (max-width:1439px) {
  .card__image_size_s {
    margin-top: 20px 0 -5px 0;
    /* max-width: 274px; */
    border-radius: 20px;
    /* aspect-ratio: 137/106; */

  }
}
/*
 @media screen and (max-width:767px) {
  .card__image_size_s {
    /* max-width: 252px; */
