.agency__project{
max-width: 440px;
}

@media screen and (max-width: 767px) {
  .agency__project{
  max-width: 320px;
  display: block;
  }
}

@media screen and (max-width: 1439px) {
  .agency__project{
  max-width: 334px;
  }
}

.agency__project:last-of-type{
  display: none;
}