.for-who__container{
    max-width: 1360px;
    margin: 0 auto;
}

@media screen and (max-width: 1439px){
    .for-who__container {
        max-width: 450px;
    }
}

@media screen and (max-width: 767px){
    .for-who__container {
        max-width: 300px;
    }
}