.footer__support-logo {
  display: block;
  width: 100px;
  height: 74px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

@media screen and (min-width:450px) {
  .footer__support-logo:hover {
    opacity: .6;
  }
}

@media screen and (max-width:900px) {
  .footer__support-logo {
    width: 85px;
    height: 63px;
    padding: 0;
  }
}

@media screen and (max-width:450px) {
  .footer__support-logo {
    width: 70px;
    height: 70px;
  }
}