.footer__support-logo {
  display: block;
  width: 100px;
  height: 74px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease 0s;
}

@media screen and (min-width: 450px) {
  .footer__support-logo:hover {
    opacity: 0.6;
  }
}

@media screen and (max-width: 900px) {
  .footer__support-logo {
    width: 85px;
    height: 63px;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .footer__support-logo {
    width: 70px;
    height: 70px;
  }
}