.stories__card {
  outline: #dfa000 solid 1px;
  background: #eae6ff;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 27px 30px 30px 30px;
  border-radius: 30px;
  display: flex;
  column-gap: 19px;
  height: 285px;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 1200px) {
  .stories__card {
    height: 228px;
  }
}
@media screen and (max-width: 900px) {
  .stories__card {
    height: 170px;
    padding: 25px 20px 20px;
    border-radius: 20px;
    column-gap: 17px;
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .stories__card {
    height: 150px;
    max-width: 450px;
  }
  .stories__card:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  .stories__card {
    height: min-content;
    column-gap: 16px;
    padding: 16px;
    align-items: center;
  }
  .stories__card:not(:last-of-type) {
    margin-bottom: 16px;
  }
}
.stories__card .stories__box-text {
  flex: 1 1 auto;
  align-items: center;
}
.stories__card .stories__picture {
  flex: 0 0 auto;
}