.form__paragraph {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
    height: 138px;
    max-width: 652px;
    width: 100%;
}

@media screen and (max-width: 768px){
    .form__paragraph {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
    }
}