.support__main-container {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

@media screen and (max-width: 768px){
    .support__main-container {
        flex-direction: column;
    }
}