.support__main-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  gap: 50px;
}

@media screen and (max-width:1200px) {
  .support__main-container {
    flex-direction: column;
  }
}

@media screen and (max-width:768px) {
  .support__main-container {
    gap: 0;
  }
}