.menu__item {
  margin: 0;
  max-width: 320px;
}

@media screen and (max-width:1439px) {
  .menu__item {
    max-width: 186px;
  }
}

@media screen and (max-width:767px) {
  .menu__item {
    max-width: 100%;
  }
}