.agency__section {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .agency__section {
    margin: auto;
  }
}

@media screen and (max-width: 1439px) {
  .agency__section {
    gap: 32px;
    margin: auto;
  }
}