.card__main-text{
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    margin-top: 20px;
    color: #333333;
}

@media screen and (max-width:1439px){
    .card__main-text {
        font-size: 16px;
        margin-top: 10px;
        line-height: 1.2;
    }
}

@media screen and (max-width:767px){
    .card__main-text {
        font-size: 14px;
    }
}
