.footer__support-title {
  grid-row: 3/4;
  grid-column: 1/2;
  align-self: flex-end;
  padding: 71px 0 10px 0;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  transition: all .3s ease 0s;
}

@media screen and (max-width: 1200px) {
  .footer__support-title {
    max-width: 400px;
    font-size: 29px;
  }
}

@media screen and (max-width: 900px) {
  .footer__support-title {
    padding: 0 0 36px 0;
    max-width: 235px;
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .footer__support-title {
    max-width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .footer__support-title {
    padding: 17px 0 36px 0;
    font-size: 16px;
  }
}