.card_height_long {
    height: 800px;
    max-width: 440px;
    border: 1px solid #DADADA;
}

@media screen and (max-width:1439px) {
  .card_height_long {
    height: 551px;
    border-radius: 20px;
}
}

@media screen and (max-width:767px) {
  .card_height_long {
    max-width: 300px;
    display: block;
    height: auto;
  }
}
