.spec-projects__buttons-row {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 74px;
  transform: translate(-50%,0);
  display: flex;
  align-items: flex-start;
  width: fit-content;
  height: fit-content;
  gap: 8px;
}

@media screen and (max-width:700px) {
  .spec-projects__buttons-row {
    left: 100%;
    top: 120px;
    transform: translate(-220%,0);
  }
}

@media screen and (max-width:450px) {
  .spec-projects__buttons-row {
    left: 100%;
    top: 87px;
    transform: translate(-160%,0);
  }
}