.footer__phone-number {
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  transition: all .3s ease 0s;
}

@media screen and (min-width: 450px) {
  .footer__phone-number:hover {
    opacity: .7;
  }
}