.features__accordion-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  -webkit-font-feature-settings: 'pnum' on,'lnum' on;
  font-feature-settings: 'pnum' on,'lnum' on;
  color: #333;
}