.features__accordion-text {
  margin: 20px 0 5px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: 'pnum' on,'lnum' on;
  color: #333;
}

@media screen and (max-width:1200px) {
  .features__accordion-text {
    font-size: 14px;
  }
}