.button_size_xs {
  width: 179px;
}

@media screen and (max-width:1439px) {
  .button_size_xs {
    width: 143px;
  }
}

@media screen and (max-width:767px) {
  .button_size_xs {
    width: 260px;
  }
}