.agency__main-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: rgba(51,51,51,1);
}

@media screen and (max-width:900px) {
  .agency__main-text {
    padding: 0;
    margin-bottom: 4px;
    font-size: 16px;
  }
}

@media screen and (max-width:450px) {
  .agency__main-text {
    padding: 15px 0 0;
    margin-bottom: 12px;
    max-height: 300px;
  }
}
