.spec-projects__block {
  display: grid;
  grid-template-areas:
    "spec-projects__subtitle spec-projects__subtitle spec-projects__subtitlev"
    "spec-projects__title spec-projects__title spec-projects__foto"
    "spec-projects__text spec-projects__family-text spec-projects__foto"
    "spec-projects__button  spec-projects__arrows spec-projects__foto";
  grid-template-columns: 603px 134px 1fr;
  grid-template-rows: 23px 194px 100px 1fr;
  min-height: 344px;
  background-color: rgba(231, 240, 255, 1);
  padding: 30px;
}