.link_color_green {
    color: #319B17;
    background-color: #DAEFD5;
    background-image: url(../../../images/Icon/link-arrow-green-ico.svg);
}

.link_color_green:hover {
    color: #fff;
    background-color: #319B17;
    background-image: url(../../../images/Icon/link-arrow-white-ico.svg);
}

.link_color_green:active {
    background-color: #0E4900;
}