.link_color_blue {
    color: #0C4BA0;
    background-color: #E7F0FF;
    background-image: url(../../../images/Icon/link-arrow-lightblue-ico.svg);
}

.link_color_blue:hover {
    background-color: #0C4BA0;
    color: #fff;
    background-image: url(../../../images/Icon/link-arrow-white-ico.svg);
}

.link_color_blue:active {
    background-color: #00275C;
}