.agency {
  padding: 50px 40px;
  background-color: #F5F5F5;
}

@media screen and (max-width:900px) {
  .agency {
    padding: 50px 40px 45px;
  }
}

@media screen and (max-width:700px) {
  .agency {
    padding: 50px 20px 45px;
  }
}

@media screen and (max-width:450px) {
  .agency {
    padding: 50px 10px 45px;
  }
}