.everland {
  position: relative;
  margin: 0 0 -10px 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .everland {
    margin: 0 0 -17px 0;
  }
}

@media screen and (max-width: 900px) {
  .everland {
    margin: 0 0 -20px 0;
  }
}