.stories__blocks {
  grid-column: 1/3;
  grid-row: 2/3;
  padding: 0;
  margin: 0 0 50px 0;
}
@media screen and (max-width: 1200px) {
  .stories__blocks {
    margin: 0 0 33px 0;
  }
}
@media screen and (max-width: 900px) {
  .stories__blocks {
    margin: 0 0 15px 0;
  }
}
@media screen and (max-width: 450px) {
  .stories__blocks {
    margin: 0 0 32px 0;
  }
}