.spec-projects__text {
  padding: 25px 0 0;
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  max-width: 440px;
}

@media screen and (max-width:900px) {
  .spec-projects__text {
    font-size: 16px;
    line-height: 1.2;
    padding: 10px 0 0;
    max-width: 310px;
    margin: 0 0 35px;
  }
}

@media screen and (max-width:450px) {
  .spec-projects__text {
    font-size: 14px;
  }
}