.section-title_location_digits {
	padding: 0 0 55px 0;
}

@media screen and (max-width: 900px) {
	.section-title_location_digits {
		padding: 0 0 40px 0;
	}
}

@media screen and (max-width: 900px) {
	.section-title_location_digits {
		padding: 0 0 23px 0;
	}
}