.section-title_location_stories {
  margin: 0;
  padding: 0 0 55px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media screen and (max-width:900px) {
  .section-title_location_stories {
    padding: 0 0 30px;
  }
}

@media screen and (max-width:450px) {
  .section-title_location_stories {
    padding: 0 0 25px;
  }
}