.form__label {
    display: inline-block;
}


/*for radio*/
.form__label input[type=radio] {
     display: none;
 }

/* checked */
.form__label input[type=radio]:checked + .form__radio-button {
    border-color: #0C4BA0;
}

/* hovered */
.form__label .form__radio-button:hover {
    border-color: #0C4BA0;
}

/* disabled */
.form__label input[type=radio]:disabled + .form__radio-button {
    background: #efefef;
    color: #666;
}


/*for checkbox*/
.form__label input[type=checkbox] {
    display: none;
}

/* checked */
.form__label input[type=checkbox]:checked + .form__checkbox {
    background-color: #DADADA;
    background-image: url('../../../images/checked.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

/* hovered */
.form__label .form__checkbox:hover {
    color: #666;
}

/* disabled */
.form__label input[type=checkbox]:disabled + .form__checkbox {
    background: #efefef;
    color: #666;
}