.section-title_features {
	margin-bottom: 6px;
}

@media screen and (max-width:1439px) {
	.section-title_features {
		font-size: 36px;
		padding: 0 0 32px 0;
		margin-bottom: 0;
	}
}

@media screen and (max-width:900px) {
	.section-title_features {
		padding-bottom: 35px;
	}
}

@media screen and (max-width:767px) {
	.section-title_features {
		font-size: 26px;
		padding: 0 0 24px 0;
	}
}