.button_location_form-payment {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0 0 12px;
  padding: 0;
  background: url('../../../images/slide-button.svg') no-repeat center center;
  width: 8px;
  height: 14px;
}