.button_location_form-question  {
    margin: 0 0 0 13px;
    padding: 0;
    background-image: url('../../../images/question.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
}

.button_location_form-question :hover {
    background-image: url('../../../images/question-hover.svg');
}

.button_location_form-question :disabled {
    background-image: url('../../../images/question-disabled.svg');
}

.button_location_form-question_active {
    background-image: url('../../../images/question-active.svg');
}