.digits__foto-number{
  max-width: 100%;
  object-fit: cover;
  display: grid;
  grid-area: foto-number;
  border-radius: 30px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .digits__foto-number{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .digits__foto-number {
    max-width: 300px;
    display: grid;
  }
}

@media screen and (min-width: 1201px) and (max-width:1439px){
  .digits__foto-number{
    max-height: 226px;
  }
}