.form__button-container_location_donations-everland {
  gap: 40px;
  padding: 0;
}

@media screen and (min-width:870px) and (max-width:1439px) {
  .form__button-container_location_donations-everland {
    gap: 15px;
    font-size: 16px;
    height: 44px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media screen and (max-width:869px) {
  .form__button-container_location_donations-everland {
    gap: 6px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width:768px) {
  .form__button-container_location_donations-everland {
    gap: 10px;
  }
}

@media screen and (min-width:514px) and (max-width:519px) {
  .form__button-container_location_donations-everland {
    gap: 9px;
  }
}

@media screen and (max-width:400px) {
  .form__button-container_location_donations-everland {
    gap: 16px;
  }
}