.everland__buttons-list {
    margin: 123px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    max-width: 126px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1439px) {
    .everland__buttons-list {
        margin: 88px 0 0;
        max-width: 97px;
    }
}

@media screen and (max-width: 940px) {
    .everland__buttons-list {
        margin: 48px 0 0;
    }
}