.header__container {
    position: sticky;
    margin: 0;
    padding: 16px 40px 0;
    display: grid;
    grid-template-columns: 1.44fr 1fr 0.9fr;
    justify-content: space-between;
    align-items: center;
}