.stories__block {
  display: grid;
  grid-template-columns: minmax(min-content, max-content), minmax(min-content, max-content);
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  column-gap: 5.9%;
  row-gap: 17px;
  padding: 50px 0;
  margin: 0;
}
.stories__block:not(:last-of-type) {
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .stories__block {
    column-gap: 5.2%;
    padding: 40px 0 32px 0;
  }
  .stories__block:not(:last-of-type) {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 900px) {
  .stories__block {
    padding: 30px 0 22px 0;
    column-gap: 4.4%;
    row-gap: 21px;
  }
  .stories__block:not(:last-of-type) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 700px) {
  .stories__block {
    padding: 15px 0 11px 0;
    column-gap: 4%;
    row-gap: 15px;
  }
}
@media screen and (max-width: 450px) {
  .stories__block {
    display: block;
    padding: 0;
  }
  .stories__block:not(:last-of-type) {
    margin-bottom: 32px;
  }
}
.stories__block .stories__picture {
  grid-column: 1/2;
  grid-row: 1/4;
}
@media screen and (max-width: 1200px) {
  .stories__block .stories__picture {
    width: 214px;
    height: 214px;
  }
}
@media screen and (max-width: 900px) {
  .stories__block .stories__picture {
    width: 204px;
    height: 204px;
  }
}
@media screen and (max-width: 700px) {
  .stories__block .stories__picture {
    width: 140px;
    height: 140px;
  }
}
@media screen and (max-width: 450px) {
  .stories__block .stories__picture {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
  }
}
.stories__block:nth-child(2n) .stories__picture {
  position: relative;
  top: 0;
  left: 0;
  grid-column: 2/3;
}
@media screen and (max-width: 1200px) {
  .stories__block:nth-child(2n) .stories__picture {
    top: 5px;
  }
}
@media screen and (max-width: 900px) {
  .stories__block:nth-child(2n) .stories__picture {
    top: 10px;
  }
}
@media screen and (max-width: 450px) {
  .stories__block:nth-child(2n) .stories__picture {
    top: 0;
    margin: 0 0 20px 0;
  }
}
.stories__block .stories__enlarged-text {
  position: relative;
  padding: 0 0 0 78px;
  grid-column: 2/3;
  grid-row: 1/2;
}
@media screen and (max-width: 1200px) {
  .stories__block .stories__enlarged-text {
    padding: 0 0 0 60px;
  }
}
@media screen and (max-width: 900px) {
  .stories__block .stories__enlarged-text {
    padding: 30px 0 0 3px;
    margin-top: -18px;
  }
}
@media screen and (max-width: 450px) {
  .stories__block .stories__enlarged-text {
    margin: 0;
    padding: 28px 0 17px 0;
  }
}
.stories__block:nth-child(2n) .stories__enlarged-text {
  grid-column: 1/2;
}
@media screen and (max-width: 900px) {
  .stories__block:nth-child(2n) .stories__enlarged-text {
    max-width: 450px;
  }
}
.stories__block .stories__enlarged-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 60px;
  height: 60px;
  background: url(../../../images/Icon_quote.svg) center no-repeat;
  background-size: 60px 60px;
}
@media screen and (max-width: 1200px) {
  .stories__block .stories__enlarged-text::before {
    width: 53px;
    height: 53px;
    background-size: 53px 53px;
    left: -5px;
    top: -10px;
  }
}
@media screen and (max-width: 900px) {
  .stories__block .stories__enlarged-text::before {
    width: 45px;
    height: 45px;
    background-size: 45px 45px;
    left: -6px;
    top: -12px;
  }
}
@media screen and (max-width: 450px) {
  .stories__block .stories__enlarged-text::before {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    left: -10px;
    top: -12px;
  }
}
.stories__block:nth-child(2n) .stories__text-about {
  grid-column: 1/2;
}
.stories__block:nth-child(2n) .stories__link-in-block {
  grid-column: 1/2;
}