.spec-projects__block-number {
  display: grid;
  max-width: 1360px;
  height: 368px;
  grid-template-areas:
  "foto-number numbers";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 135px;
  
}