.footer__nav-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  box-sizing: border-box;
  list-style-type: none;
  max-width: 230px;
}

@media screen and (max-width: 1200px) {
  .footer__nav-list {
    max-width: 210px;
  }
}

@media screen and (max-width: 900px) {
  .footer__nav-list {
    max-width: 170px;
  }
}

@media screen and (max-width: 450px) {
  .footer__nav-list {
    max-width: 142px;
  }
}