.stories__cards {
  box-sizing: border-box;
  grid-column: 1/3;
  grid-row: 3/4;
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2,calc(50% - 10px));
  grid-auto-rows: fit-content;
}

@media screen and (max-width:1200px) {
  .stories__cards {
    padding: 25px 0;
  }
}

@media screen and (max-width:900px) {
  .stories__cards {
    padding: 0;
    margin: 0 auto 38px;
  }
}

@media screen and (max-width:700px) {
  .stories__cards {
    display: block;
    margin-bottom: 34px;
  }
}

@media screen and (max-width:450px) {
  .stories__cards {
    display: block;
    margin-bottom: 25px;
  }
}