@media screen and (max-width: 1439px) {
  .agency__block {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .agency__block {
    max-width: 320px;
    margin: 0 auto;
  }
}
