.card__container_size_m{
    max-width: 380px;
}

@media screen and (max-width:1439px){
    .card__container_size_m {
        width: 283px;
    }
}

@media screen and (max-width:767px){
    .card__container_size_m {
        width: 251px;
    }
}
