.footer {
  box-sizing: border-box;
  padding: 80px 36px 150px 40px;
  display: grid;
  column-gap: 2%;
  grid-template-columns: 42% 56%;
  grid-template-rows: repeat(6, minmax(min-content, max-content));
}

@media screen and (max-width: 1200px) {
  .footer {
    column-gap: 2.4%;
    grid-template-columns: 44% 53.6%;
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    column-gap: 2.8%;
    grid-template-columns: 48% 49.2%;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    padding: 50px 36px 52px 40px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    display: block;
    padding: 40px 20px 32px 20px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    padding: 40px 10px 32px 10px;
    font-size: 12px;
  }
}