.footer {
  box-sizing: border-box;
  padding: 80px 36px 150px 40px;
  display: grid;
  column-gap: 1%;
  grid-template-columns: 43% 56%;
  grid-template-rows: repeat(6, minmax(min-content, max-content));
}