.form__radio-button_value_other-donations {
    width: 211px;
}

@media screen and (max-width: 1439px){
    .form__radio-button_value_other-donations {
        width: 171px;
    }
}

@media screen and (min-width: 769px) and (max-width: 838px){
    .form__radio-button_value_other-donations {
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .form__radio-button_value_other-donations {
        width: 135px;
    }
}

@media screen and (min-width: 602px) and (max-width: 767px){
    .form__radio-button_value_other-donations {
        width: 471px;
    }
}

@media screen and (max-width: 601px) {
    .form__radio-button_value_other-donations {
        width: 254px;
    }
}








