.spec-projects {
  position: relative;
  margin: 0;
  padding: 100px 40px;
  width: 100%;
}

@media screen and (max-width:767px) {
  .spec-projects {
    padding: 100px 20px;
  }
}

@media (max-width:450px) {
  .spec-projects {
    padding: 64px 10px;
  }
}