.spec-projects {
  position: relative;
  margin: 0;
  padding: 150px 40px 45px;
  width: 100%;
}

@media screen and (max-width:900px) {
  .spec-projects {
    padding: 100px 40px 45px;
  }
}

@media screen and (max-width:767px) {
  .spec-projects {
    padding: 100px 20px 45px;
  }
}

@media (max-width:450px) {
  .spec-projects {
    padding: 64px 10px 35px;
  }
}