.agency__card {
  overflow: hidden;
  border-radius: 30px;
  margin: 0 0 20px;
}

.agency__card .card__image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width:800px) {
  .agency__card {
    border-radius: 20px;
    max-height: 334px;
    margin: 0 0 15px;
  }
}

@media screen and (max-width:450px) {
  .agency__card {
    max-height: 300px;
    margin: 0 0 2px;
  }
}