.stories__info-in-card {
  box-sizing: border-box;
}
.stories__info-in-card .stories__enlarged-text {
  height: 155px;
  max-height: 100%;
  padding: 20px 0 0 0;
  margin: 0 0 15px 0;
}
@media screen and (max-width: 1200px) {
  .stories__info-in-card .stories__enlarged-text {
    height: 130px;
    padding: 10px 0 0 0;
  }
}
@media screen and (max-width: 900px) {
  .stories__info-in-card .stories__enlarged-text {
    height: fit-content;
    padding: 5px 0 0 0;
    margin: 0 0 9px 0;
  }
}
@media screen and (max-width: 700px) {
  .stories__info-in-card .stories__enlarged-text {
    padding: 0;
  }
}