.footer__text-info {
  grid-row: 2/3;
  grid-column: 1/2;
  max-width: 470px;
  padding: 18px 0;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  transition: all .3s ease 0s;
}

@media screen and (max-width: 1200px) {
  .footer__text-info {
    padding: 17px 0;
  }
}

@media screen and (max-width: 900px) {
  .footer__text-info {
    padding: 15px 0;
  }
}

@media screen and (max-width: 700px) {
  .footer__text-info {
    max-width: 100%;
    padding: 13px 0;
  }
}