.stories {
  box-sizing: border-box;
  padding: 150px 40px 50px;
  display: grid;
  grid-template-columns: minmax(fit-content, max-content), minmax(fit-content, max-content);
  grid-template-rows: repeat(4, minmax(min-content, max-content));
}
@media screen and (max-width: 900px) {
  .stories {
    padding: 100px 40px 50px;
  }
}
@media screen and (max-width: 700px) {
  .stories {
    padding: 82px 20px 42px;
  }
}
@media screen and (max-width: 450px) {
  .stories {
    display: block;
    padding: 64px 9px 32px;
  }
}