.stories {
  outline: #df00cd solid 1px;
  box-sizing: border-box;
  padding: 150px 40px 100px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(3, minmax(min-content, max-content));
}